@font-face {
  font-family: w95fa;
  src: url(W95FA.otf);
}

body {
	background-image: url("bg_john.png");
	background-repeat: repeat;
	background-color: #4246c3;
}

p, a {
	font-size: 2vh;
	color: #99e550;
	text-align: center;
	font-family: w95fa;
	
}

.landingcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
  justify-content: center;
  align-items: center;
}
